.cus-data-name-card{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 5px 3px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}

.cus-data-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}