.main-div {
  .invoice {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(223, 223, 223);

    .section {
      margin: 8px;

      h3 {
        margin: 5px;
      }

      .field {
        margin: 8px;
      }
    }
  }
}
.dialog-div {
  padding: 30px;
}
