.react-tel-input .form-control {
	width: 255px !important;
	flex: 0.7 !important;
	outline-color: #45aaf2 !important;
}

.notdisplayed {
	display: none;
}

.displayed {
	display: flex;
	flex: 0.1;
	cursor: pointer;
}
