.maxWidth1200 {
	max-width: 1200px;
	margin: auto;
	box-sizing: border-box;
	padding: 10px;
	.title {
		font-size: 1.5rem;
		text-align: center;
		margin: 20px 0;
	}
	.card {
		min-height: 500px;
		padding: 10px;
		box-sizing: border-box;

		.radioGroup {
			margin: 20px auto;
		}

		.dayCard {
			height: 100%;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			border-radius: 15px;
			padding: 10px;
			box-sizing: border-box;
			min-height: 150px;
			.dayTitle {
				text-align: center;
				margin-bottom: 10px;
			}
			.chip {
				margin: 2px;
				cursor: pointer;
			}
		}
		.addButton {
			margin: 20px;
		}
	}
	.autocomplete {
		max-width: 300px;
		margin: auto;
	}
	.selectedSlotsTitle {
		text-align: center;
		font-size: 1rem;
		margin: 10px 0;
	}
	.selectedOptions {
		width: 100%;
		min-height: 500px;
		.selectedOptionsSingleCard {
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			padding: 10px;
			box-sizing: border-box;
			margin: 10px;
			width: calc(100% - 20px);
			border-radius: 15px;
			.xWrapper {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				padding: 5px;
				cursor: pointer;
			}
		}
	}
}

.option{
	padding: 10px;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: relative;
	background-color:#ecf0f1;
	.scheduledClass{
		position: absolute;
		right: 5px;
		top: 5px;
	}
}