.sidebarChat {
	display: flex;
	padding: 18px;
	cursor: pointer;
	border-bottom: 1px solid #cbcbcb;
}

.sidebarChat:hover {
	background-color: #ebebeb;
}

.sidebarChat_info {
	margin-left: 15px;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	min-width: 0;
	position: relative;
}

.sidebarChat_info > h2 {
	font-size: 16px;
	margin: 0px;
}

.sidebarChat_info > p {
	font-family: "Roboto", sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 22px;
	margin: 0px;
	max-width: 240px;
}

.sidebarChat_info > .assign-btn {
	position: absolute;
	right: 0;
	top: -13%;
}
.add-new-chat-title {
	margin: 0px 0px 0px 10px;
}

a {
	text-decoration: none;
	color: black;
}

.sidebarChat_head {
	flex: 0.25 1;
	max-width: 374px;
}

.sidebarChat_head2 {
	flex: 0.25 1;
}
