.MuiAccordionDetails-root {
	display: flex !important;
	flex-direction: column !important;
}

.app {
	display: grid;
	place-items: center;
	background-color: #dadbd3;
	height: 89.8vh;
}
.app_body {
	display: flex;
	background-color: #ededed;
	height: 100%;
	width: 100%;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
	height: 20px !important;
	width: 10px !important;
	background-color: #eee;
}
.inp-search-feild {
	width: 80%;
}
