@import "../../sass/main.scss";

.links {
  a {
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
}
.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  @include respond(tab-port) {
    font-size: 1.6rem;
    margin-left: 1.5rem;
  }
}

label {
  font-size: 1.2rem;
  @include respond(tab-port) {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
}
.textgroup {
  margin-bottom: 2rem !important;
  width: 300px;
  margin: 0 auto;
}
.date {
  margin-left: 3px;
  &-checkbox {
    margin-left: 2.5rem;
  }
}
.schedule-form {
  @include respond(tab-port) {
    margin-left: 3rem;
  }
}
.icons {
  font-size: 2rem;
  text-align: center;
}
.icon-link {
  position: relative;
  text-decoration: none;
  color: #787878;
}
.customIcon {
  font-size: 1.2rem;
  color: #787878;
  position: absolute;
  left: 15%;
  top: 30%;
}
